*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;

}
.vid-container{
    height:100vh;
    width: 100vw;
}
video{
    height: 100%;
    width: 100%;
}

.action-cont{
    height: 12rem;
    width: 5rem;
    /* background-color: lightblue; */
    position: absolute;
    top: calc((100vh - 12rem) / 2);
    right: 5rem;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.action-cont > *{
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

}

.record-btn{
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.capture-btn{
    background-color: wheat;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.scale-record{
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;

}
.scale-capture{
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 1s;

}
@keyframes scale-record {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}
@keyframes scale-capture {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

.timer-cont{
    height: 16rem;
    width: 5rem;
    position: absolute;
    left: calc(100vw - 11.5rem);
    bottom: 15rem;
    /* top: calc(100vh -16rem); */
    color: aqua;
    font-size: 0.8rem;
}
.timer{
    display: none;
}
.filter-cont{
    height: 16rem;
    width: 5rem;
    background-color: aqua;
    position: absolute;
    top: 4.5rem;
    left: 5rem;
    z-index: 3;
}
.filter{
    background-image: url('https://res.cloudinary.com/dywnwbcln/image/upload/v1725455958/vfi9zqpvuxn6xl9hutn3.jpg') ;
    height: 4rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}
.filter-layer{
    height: 95vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
.red{
    background-color: rgba(162, 35, 35, 0.56);
}
.orange{
    background-color: rgba(255, 166, 0, 0.468);
}
.yellow{
    background-color: rgba(164, 164, 82, 0.442);
}
.green{
    background-color: rgba(63, 160, 63, 0.362);
}
.blue{
    background-color: rgba(65, 65, 150, 0.358);
}
.indigo{
    background-color: rgba(107, 59, 142, 0.479);
}
.violet{
    background-color: rgba(137, 63, 137, 0.419);
}
.transparent{
    background-color: transparent;
}